img {
    height: 80%;
    // width: 100%;
    // display: flexbox;
    // vertical-align: middle;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

ion-footer {
    height: 65px;
    position: absolute !important;
    bottom: 0px;
}