<ion-card *ngIf="messageList">

  <ion-card-header color="primary">

    <ion-card-title>

      <ion-badge color="success">
        {{ messageList.length }}
      </ion-badge> message(s) in the Channel.

    </ion-card-title>

  </ion-card-header>

  <ion-card-content>

    <ion-item *ngFor="let message of messageList">

      <ion-chip class="ion-margin-start">

        <ion-avatar>

          <img src="assets/avatars/{{user.avatar}}.png">

        </ion-avatar>

        <ion-label>
          {{user.pseudo}}
        </ion-label>

      </ion-chip>

      <ion-label>
        {{message.value}}
      </ion-label>

    </ion-item>

    <app-input></app-input>

  </ion-card-content>

</ion-card>

<a [routerLink]="['/login']">
  <ion-button>Exit Channel</ion-button>
</a>