<!-- <ion-content [scrollEvents]="true"> -->

<ion-card fullscreen *ngIf="messageList">

  <ion-card-header color="primary">

    <ion-card-title>

      <ion-badge color="success">
        {{ messageList.length }}
      </ion-badge> message(s) in the Channel.

    </ion-card-title>

  </ion-card-header>

  <ion-card-content>

    <ion-item *ngFor="let message of messageList">


      <ion-chip class="ion-margin-start">

        <ion-avatar>

          <img src="assets/avatars/{{user.avatar}}.png">

        </ion-avatar>

        <ion-label>
          {{user.pseudo}}
        </ion-label>

      </ion-chip>

      <ion-label>
        {{message.value}}
      </ion-label>

      <ion-badge slot="end" color="light">
        {{message.timestamp * 1000 | date: 'h:mm a, dd/MM/yyyy'}}
      </ion-badge>

    </ion-item>

    <app-input slot="bottom"></app-input>

  </ion-card-content>

</ion-card>

<a [routerLink]="['/login']">
  <ion-button>Exit Channel</ion-button>
</a>

<!-- </ion-content> -->