<ion-card>

  <ion-card-header text-center color="primary">

    <ion-card-title>Profile</ion-card-title>

  </ion-card-header>

  <ion-card-content>

    <form *ngIf="userForm" [formGroup]="userForm" (ngSubmit)="saveUser()">

      <ion-item>
        <ion-label>
          <ion-icon color="danger" size="large" name="finger-print"></ion-icon>
          <!-- <ion-text >*</ion-text> -->
        </ion-label>
        <ion-input placeholder="Choose your pseudo" type="text" formControlName="pseudo"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label class="label label-ios">
          <!-- <ion-icon size="large" name="flask"></ion-icon> -->
          <ion-icon size="large" name="clock"></ion-icon>
          {{userForm.get('age').value || 0}} year(s)
        </ion-label>
        <!-- <ion-input type="number" min="0" max="130" formControlName="age"></ion-input> -->
        <ion-range formControlName="age" min="0" max="130" type="number" [(ngModel)]="user.age" color="primary">
          <ion-label slot="start">0</ion-label>
          <ion-label slot="end">130</ion-label>
        </ion-range>
      </ion-item>

      <ion-item>
        <ion-label>
          <ion-icon size="large" name="business"></ion-icon>
        </ion-label>
        <ion-input placeholder="Choose your city" type="text" formControlName="city"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>
          <ion-icon size="large" name="transgender"></ion-icon>
        </ion-label>
        <ion-select formControlName="gender" placeholder="Choose your gender">
          <ion-select-option value="0">Male</ion-select-option>
          <ion-select-option value="1">Female</ion-select-option>
          <ion-select-option value="2">Neutral</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>
          <ion-icon size="large" name="eye"></ion-icon>
        </ion-label>
        <ion-fab-button (click)="prev()" size="small" color="light">
          <ion-icon name="arrow-dropleft"></ion-icon>
        </ion-fab-button>
        <ion-avatar>
          <img src="assets/avatars/{{userForm.get('avatar').value}}.png">
        </ion-avatar>
        <ion-fab-button (click)="next()" size="small" color="light">
          <ion-icon name="arrow-dropright"></ion-icon>
        </ion-fab-button>
        <!-- <ion-input type="text" formControlName="avatar"></ion-input> -->
      </ion-item>

      <!-- <ion-item hidden>
        <ion-label position="floating">Role</ion-label>
        <ion-input disabled value="Visitor" type="text" formControlName="role"></ion-input>
      </ion-item> -->

      <ion-button type="submit" [disabled]="!userForm.valid">Submit</ion-button>

    </form>

  </ion-card-content>

</ion-card>


<a [routerLink]="['/login']">
  <ion-button>Go to Tchat</ion-button>
</a>